
/*--Validation--*/

.was-validated .form-control:valid{
    border-color: #f3f3f3!important;
}

.is-invalid-custom {
    border-color: #dc3545!important;
}

/*.navbar-brand img {
    height: 35px!important;
    width: 35px!important;
}*/

/*--Common styles--*/

.dropdown-toggle:after {
    content: unset!important;
}

.form-control {
    border-color: #e3e3e3;
}

.sidebar {
    border-left: 1px solid #e3e3e3
}

/*--Guest layout--*/

.content-wrapper-background {
    position: relative;
}

.content-wrapper-background::before {
    content: "";
    position: absolute;
    background-image: url("../images/guest-background-city-2560x1970.jpg");
    background-size: cover;
    opacity: 0.8;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.see-content-on-background {
    position: relative;
}

.auth-content-panel {
    min-width: 640px;
    max-width: 640px;
}

.logo-image {
    width: 60px!important;
    height: 60px;
}




@media (max-width: 1441px) {

    .content-wrapper-background::before {
        background-image: url("../images/guest-background-city-1920x1282.jpg");

    }
}

@media (max-width: 1025px) {
    .content-wrapper-background::before {

        background-image: url("../images/guest-background-city-1280x855.jpg");
    }
}

@media (max-width: 769px) {
    .auth-content-panel {
        width: 95%;
        min-width: unset;
        max-width: unset;
    }

    .content-wrapper-background::before {
        background-image: url("../images/guest-background-city-1030x668.jpg");

    }

}


@media (max-width: 425px) {

    .logo-image {
        width: 40px!important;
        height: 40px;
    }

    .logo-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 320px) {
    .lh-xs-1 {
        line-height: 1 !important;
    }

    .btn {
        padding: .5rem 0.5rem;
    }

}
